# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Anastation\AppData\Roaming\JetBrains\DataGrip2020.3\projects\HW4\.idea/dataSources/
/dataSources.local.xml
